#input {
background-color: #282828;
border: 2px solid #bcbcbc;
border-radius: 0;
color: #d79921;
}

#scroll {
background-color: #282828;
border: 2px solid #bcbcbc;
border-top-width: 0;
color: #d79921;
}

#entry:selected {
background-color: #d79921;
color: #282828;
}
